:root {
  --vp-font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  font-synthesis: weight;
}

:root {
  --vp-c-lambda-ident: #001080;
  --vp-c-lambda-lambda: #af00db;
  --vp-c-lambda-dot: #000000;
  --vp-c-lambda-bracket-0: #0431fa;
  --vp-c-lambda-bracket-1: #319331;
  --vp-c-lambda-bracket-2: #7b3814;
  --vp-c-lambda-ref: #0070c1;
  --vp-c-lambda-hlbg: #af00db29;
  --vp-c-lambda-redex: #e5ebf1;
  --vp-c-lambda-const: #0070c1;
}

:root.dark {
  --vp-c-lambda-ident: #9cdcfe;
  --vp-c-lambda-lambda: #c586c0;
  --vp-c-lambda-dot: #d4d4d4;
  --vp-c-lambda-bracket-0: #ffd700;
  --vp-c-lambda-bracket-1: #da70d6;
  --vp-c-lambda-bracket-2: #179fff;
  --vp-c-lambda-ref: #4fc1ff;
  --vp-c-lambda-redex: #474747;
  --vp-c-lambda-const: #4fc1ff;
}

.lambda-exp-static-block {
  font-family: var(--vp-font-family-mono);
  font-size: 1.25em;
}

.lambda-exp {
  font-family: var(--vp-font-family-mono);
  padding: 0.4em 0.8em;
  font-size: 1.25em;
}

.lambda-inline {
  font-family: var(--vp-font-family-mono);
  white-space: nowrap;
}

.lambda-inner {
  width: fit-content;
  margin: 0 auto;
}

.lambda-lambda {
  color: var(--vp-c-lambda-lambda);
}

.lambda-dot {
  color: var(--vp-c-lambda-dot);
}

.lambda-bracket-0 {
  color: var(--vp-c-lambda-bracket-0)
}

.lambda-bracket-1 {
  color: var(--vp-c-lambda-bracket-1)
}

.lambda-bracket-2 {
  color: var(--vp-c-lambda-bracket-2)
}

.lambda-ref {
  color: var(--vp-c-lambda-ref)
}

.lambda {
  transition: .1s ease-in-out;
  transition-property: padding, border;
}

.lambda-highlight {
  border: 2px solid var(--vp-c-lambda-lambda);
  display: inline-block;
  padding: 2px 4px 0px;
  border-radius: 6px;
}

.lambda-highlight:hover {
  background-color: var(--vp-c-lambda-hlbg);
}


.lambda-dragover {
  background-color: var(--vp-c-lambda-hlbg);
  border: 2px solid var(--vp-c-lambda-lambda);
  display: inline-block;
  padding: 2px 4px 0px;
  border-radius: 6px;
}

.lambda-redex > .lambda-app-body {
  background: var(--vp-c-lambda-redex);
}

.lambda-ident {
  color: var(--vp-c-lambda-ident);
}
.lambda-ident-mark {
  background: var(--vp-c-lambda-redex);
}

.lambda-const .lambda-ident {
  cursor: pointer;
  color: var(--vp-c-lambda-const);
}
.lambda-const .lambda-ident:hover {
  background: var(--vp-c-lambda-redex);
}
.lambda-abs-head-redex {
  cursor: pointer;
  text-decoration: underline;
}

.lams-move,
.lams-enter-active {
  transition: all 0.5s ease;
}

.lams-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.lams-leave-active {
  position: absolute;
  opacity: 0;
}